body{
    background-color: white;
}

h1{
    font-size: 48px;
    color: white;
    background-color: black;
}

.topnav{
    background-color: black;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover{
    background-color: black;
    color: white;
}

.topnav a:active{
    background-color: black;
    color: white;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    color: white;
}

img{
  padding: 12px;
  max-width: 100%;
  height: auto;
}